﻿@using EM.Domain;
@using EM.Domain.ProjetoEM.EM.Domain;
@using EM.Repository;
@using EM.Web.Models;
@using Microsoft.AspNetCore.Mvc;
@using System.Diagnostics;
@{
    ViewData["Title"] = "Cadastrar aluno";
}
@model EM.Domain.ProjetoEM.EM.Domain.Aluno

<input type="hidden" asp-for="Matricula" />
<h4>Ficha do aluno</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form action="Cadastro" method="post" class="form-control">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        @Html.LabelFor(a => a.Matricula, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Matricula, new { @class = "form-control", @required = "true", @style = "text-align:right", @minlength = "1", @maxlength = "9", @onpaste = "return false", @ondrop = "return false", @id = "matricula", @oninput = "formatarMatricula()", @onblur = "validaCampoMatricula()", @onfocus = "validaCampoMatricula()" })
                    </div>
                    <div class="col-10">
                        @Html.LabelFor(a => a.Nome, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Nome, new { @class = "form-control", @required = "true", @id = "nome", @autocomplete = "off", @placeholder = "Digite o nome do aluno", @minlength = "3", @maxlength = "100" })
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Sexo"> Sexo</label>
                        @Html.DropDownListFor(Model => Model.Sexo, new SelectList(Enum.GetValues(typeof(Sexo))), htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.Nascimento, new { @class = "control-label" })

                        @if (Model != null && Model.Nome != null)
                        {
                            @Html.EditorFor(a => a.Nascimento, "{0:dd/MM/yyyy}", new { htmlAttributes = new { @class = "form-control", @id = "nasc", @type = "Date", @required = "true", @onpaste = "return false", @ondrop = "return false",  @max = DateTime.Now.ToString("yyyy-MM-dd") } })
                        }
                        else
                        {
                            @Html.TextBoxFor(a => a.Nascimento, new { @class = "form-control", @id = "nasc", @type = "Date", @required = "true", @min = "1900-01-01", @max = DateTime.Now.ToString("yyyy-MM-dd") })
                        }
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.CPF, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.CPF, new { @class = "form-control", @id = "cpf", @onblur = "return verificarCPF(this.value)", @placeholder = "Digite o cpf do aluno" })
                    </div>
                </div>
                <hr />
                <h5>Endereço</h5>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(a => a.CEP, new{ @class = "control-label"})
                        @Html.TextBoxFor(a => a.CEP, new { @class = "form-control", id = "cep", onblur = "buscaCEP()" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.Logradouro, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Logradouro, new { @class = "form-control", id = "logradouro" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        @Html.LabelFor(a => a.Bairro, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Bairro, new { @class = "form-control", id = "bairro" })
                    </div>
                    <div class="col">
                        @Html.LabelFor(a => a.Cidade, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Cidade, new { @class = "form-control", id = "cidade" })
                    </div>
                    <div class="col-1">
                        @Html.LabelFor(a => a.Estado, new { @class = "control-label" })
                        @Html.TextBoxFor(a => a.Estado, new { @class = "form-control", id = "uf" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-danger">Voltar</a>
                        <input id="btnSalvar" type="submit" value = "Salvar" class="btn btn-primary" />
                        <a tabindex="3" class="btn btn-warning" asp-area="" asp-controller="Home" asp-action="Cadastro" title="Limpar">Limpar</a>
                    </div>
                    @if (@ViewBag.Mensagem == "Cadastrado!")
                    {

                        <script>
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: 'Cadastrado com sucesso!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        </script>
                    }
                    else if (@ViewBag.Mensagem == "Atualizado!")
                    {
                        <script>
                            Swal.fire({
                                position: 'top-center',
                                icon: 'success',
                                title: 'Atualizado com sucesso!',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        </script>
                    }
                    else if (@ViewBag.Mensagem == "Matrícula em uso!")
                    {
                        <script>
                            Swal.fire({
                                icon: 'error',
                                title: 'Matrícula em uso!',
                                showConfirmButton: false,
                                timer: 2000
                            })
                        </script>
                    }
                    @{
                        var sucesso = ViewBag.Sucesso ?? false;
                    }

                    <!DOCTYPE html>
                    <html lang="en">
                    <head>
                        <!-- ... outros elementos head ... -->
                        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
                    </head>
                    <body>
                        <!-- ... outros elementos body ... -->
                        <!-- Modal -->
                        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                @* <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Mensagem</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                     <div class="modal-body">
                                        @ViewBag.Mensagem
                                    </div>
                                   @<div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                    </div>
                                </div>*@
                            </div>
                        </div>

                        <!-- Scripts -->
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var sucesso = @sucesso.ToString().ToLower();

                                if (sucesso) {
                                    $('#successModal').modal('show');
                                    setTimeout(function () {
                                        window.location.href = '@Url.Action("Index", "Home")';
                                    }, 1500); // Redireciona após 1,5 segundos
                                }
                            });
                        </script>
                    </body>
                </html>

                </div>
            </div>
        </form>
    </div>
</div>